.about-row {
    .photo-block {
        .about-photo {
            margin: 0 auto;
            width: 250px;
            height: 250px;
            border: 5px outset mistyrose;
            border-radius: 50%;
            background-image: url('../../assets/images/myPhoto.JPG');
            background-size: cover;
        }
    }
    .who-block {
        margin: 15px auto 35px;
        padding-left: 20px;
        .about-who {
            .about-who__name {
                font-size: 30px;
                text-transform: uppercase;
                text-align: center;
                color: tomato;
            }
            .about-who__profession {
                text-align: center;
                &:before {
                    content: "";
                    margin: 15px auto;
                    display: block;
                    background-color: #000000;
                    height: 1px;
                    width: 100px;
                }
            }
            .about-description {
                padding: 10px;
                box-shadow: 0 0 60px 0.2px darkslategrey;
                margin-left: 20px;
                background-color: rgba(1, 1, 1, 0.5);
                margin-top: 20px;
                color: mintcream;
                text-align: center;
            }
        }
    }
}

@media (max-width: 992px) { 
    .who-block {
        border-left: none;
    }
}