<div class="about">
  <div class="about-photo"><img width="300" alt="I am Margarita" src="../assets/images/myPhoto.JPG">
  </div>
  <div class="about-who">
    <p class="about-who__name">Margarita</p>
    <p class="about-who__surname">Glinskaja</p>
    <p class="about-who__profession">Front-end Developer <span>junior</span></p>
  </div>
  <h2>About me: </h2>
  <ul>
    <li>
      <h3>Name:</h3>
      <p>Margarita Glinskaja</p>
    </li>
    <li>
      <h3>Age:</h3>
      <p>25 years old</p>
    </li>
    <li>
      <h3>Skills:</h3>
      <p>HTML, CSS, JavaScript, Angular, English.</p>
    </li>
  </ul>
</div>