<div class="about container-fluid">
  <div class="row about-row">
    <div class="photo-block col-lg-4 col-sm-12">
      <div class="about-photo">
      </div>
    </div>
    <div class="who-block col-lg-8 col-sm-12">
      <div class="about-who">
        <p class="about-who__name">Margarita Glinskaja</p>
        <p class="about-who__profession">Front-end Developer <span>junior</span></p>
        <div class="about-description">
          <h3>About me: </h3>
          <p>I'm engaged in maintaining and participating in the development of a websites at the current place of work with the help of HTML, CSS, JavaScript, Typescript. I'm using the framework Angular2+, Gulp, Pug, LESS and Stylus. I actively use the GIT. My work experience is about a year, I am constantly learning and improving my skills.In life, I'm a responsible, inquisitive and positive girl. I'm interested in science, technology, love sports and traveling.
          </p>
          <div>
            <h3>Skills:</h3>
            <p>HTML, CSS, JavaScript, Angular, English.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>