<div class="about container">
  <div class="row">
    <div class="photo-block col-md-2">
      <div class="about-photo ">
      </div>
    </div>
    <div class="who-block col-md-5">
      <div class="about-who ">
        <p class="about-who__name">Margarita Glinskaja</p>
        <p class="about-who__profession">Front-end Developer <span>junior</span></p>
        <ul class="about-description">
          <h2>About me: </h2>
          <li>
            <h3>Name:</h3>
            <p>Margarita Glinskaja</p>
          </li>
          <li>
            <h3>Age:</h3>
            <p>25 years old</p>
          </li>
          <li>
            <h3>Skills:</h3>
            <p>HTML, CSS, JavaScript, Angular, English.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>