<div class="contact-wrapper row">
  <div class="contacts col-md-3">
    <div class="contacts-items d-flex">
    <div class="contacts-items-links d-flex flex-column">
      <a class="contacts-items__phone link-hov" href="tel:+375295769386">+375295769386</a>
      <a class="contact-items__email link-hov" href="mailto:5769386@gmail.com">5769386@gmail.com</a>
      <p class="contact-items__address">г. Минск, ул. Козлова, д. 31, кв.19</p>
    </div>
      <div class="contacts-items__line"></div>
    </div>
    <div class="contacts__item-wrapper d-flex">
      <h3>Social media links:</h3>
      <div class="contacts__wrapper-links">
        <a class="fa fa-linkedin-square link-hov" href="https://www.linkedin.com/in/margarita-glinskaya-377448162/" target="_blank"></a>
        <a class="fa fa-github-square link-hov" href="https://github.com/Margharita/" target="_blank"></a>
        <a class="fa fa-telegram link-hov" href="https://t.me/morua333" target="_blank"></a>
        <a class="fa fa-vk link-hov" href="https://vk.com/meritneit" target="_blank"></a>
        <a class="fa fa-bitbucket-square link-hov" href="https://bitbucket.org/mrita333/" target="_blank"></a>
      </div>
    </div>
  </div>
  <div class="contact-form-wrapper col-md-5">
    <form class="form-inline contact-form d-flex" role="form">
      <h3 class="pl-3">Contact with me:</h3>
      <div class="contact-form-item">
        <input type="text" class="form-control contact-form-name" id="name1" placeholder="Enter name">
      </div>
      <div class="contact-form-item">
        <input type="text" class="form-control contact-form-email" id="email2" placeholder="Enter email">
      </div>
      <div class="contact-form-item mb-4">
        <textarea class="form-control contact-form-message" aria-label="With textarea" placeholder="Enter message" id="msg3"></textarea>
      </div>
      <button type="button" class="btn btn-warning align-self-center contact-form-btn">Submit</button>
    </form>
  </div>
</div>