.contact-wrapper {
  flex-direction: row;
  justify-content: space-around;
}
.contact-wrapper .contacts .contacts-items {
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  padding-bottom: 15px;
}
.contact-wrapper .contacts .contacts-items .contacts-items-links {
  padding-left: 25px;
}
.contact-wrapper .contacts .contacts-items .contacts-items__line {
  height: 1px;
  background-color: #000000;
  width: 66px;
  align-self: center;
}
.contact-wrapper .contacts .contacts__item-wrapper {
  flex-direction: column;
  align-items: center;
}
.contact-wrapper .contacts .contacts__item-wrapper h3 {
  text-align: center;
  font-size: 20px;
}
.contact-wrapper .contacts .contacts__item-wrapper .contacts__wrapper-links {
  display: flex;
  padding-top: 10px;
  padding-bottom: 50px;
  justify-content: center;
  font-size: 18px;
}
.contact-wrapper .contacts .contacts__item-wrapper .contacts__wrapper-links a:not(:last-of-type) {
  padding-right: 10px;
}
.contact-wrapper .contact-form {
  width: 100%;
  background-color: rgba(48, 42, 42, 0.5);
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
}
.contact-wrapper .contact-form .contact-form-item {
  margin: 15px;
  width: 90%;
}
.contact-wrapper .contact-form .contact-form-item input,
.contact-wrapper .contact-form .contact-form-item textarea {
  width: 100%;
}
.contact-wrapper .contact-form .contact-form-item .contact-form-btn {
  align-self: center;
  padding: 0 15px;
}
.link-hov:hover {
  color: #4a76a8;
  cursor: pointer;
}
