<div class="contact-wrapper">
    <div class="col-6 contacts">
      <div class="contacts__item-wrapper">
        <p class="contact-item-address">г. Минск, ул. Козлова, д. 31, кв.19</p>
      </div>
      <div class="contacts__item-wrapper">
        <a class="contacts__item-phone" href="tel:+375295769386">+375295769386</a>
      </div>
      <div class="contacts__item-line"></div>
      <div class="contacts__item-wrapper">
        <h2>social media links</h2>
        <div class="contacts__item-link-facebook"></div>
        <div class="contacts__item-link-telegram"></div>
        <div class="contacts__item-link-linkedIn"></div>
      </div>
    </div>
    <div class="col-6 contact-form-wrapper">
      <div class="contact-form">
        <input type="text" class="contact-form__name">
        <input type="text" class="contact-form__email">
        <input type="text" class="contact-form__message">
      </div>
    </div>