.todo-item {
  box-shadow: 0 0 16px 5px #d9e6ca;
  width: 80%;
}
.todo-item:not(:last-child) {
  margin-top: 70px;
}
.todo-item .todo-item__title {
  display: inline-block;
  cursor: pointer;
}
.todo-item .todo-item__text-modify {
  display: inline-block;
}
.todo-item .todo-item__text-option {
  display: inline-block;
  padding-left: 15px;
}
.todo-item .waiting-image {
  display: inline-block;
  width: 70px;
}
