<div class="todo-item-wrapper">
    <div class="todo-item-block">
        <li class="todo-item d-flex justify-content-between">
            <div class="todo-item__title" >
                <div (click)="isModifying = true;" ngFor="let item of tasks" *ngIf="!isModifying" [ngClass]="{ 'title-done': item.done}">{{
                    item.title }}</div>
                <div class="todo-item__text-modify" *ngIf="isModifying"> <input class="form-control" *ngIf="isModifying" [(ngModel)]="item.title">
                <button *ngIf="isModifying" (click)="onChange(item)">OK</button>
                </div>           
            </div>
            
            <div class="todo-item__text-option align-self-end"  *ngIf="!isWaiting">
                <label [ngClass]="{ 'fa fa-check': item.done}">
                    <input type="checkbox" class="check-box" [checked]="item.done" (click)="onToggle(item)">
                </label>
                <button class="optional-button delete fa fa-remove" (click)="onDelete(item)"></button>
            </div>

        </li>
        <div class="todo-item__waiting-image" *ngIf="isWaiting"></div>
        <div class="error-mess" *ngIf="isError && !isModifying"><i class="fa fa-warning"></i>{{ errorMessage }}</div>
    </div>
   
</div>