/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
  color: initial;
}
* a:hover {
  text-decoration: none;
  color: initial;
}
body {
  background: url('../assets/images/O5GLLH0.jpg') top center no-repeat;
}
