.calculator {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
  color: #1e1e1e;
}
.calculator .calculator-numbers {
  width: 250px;
}
.calculator button {
  font-size: 1.3rem;
  background: none;
  border: 1px #cccccc solid;
  border-radius: 2px;
}
.calculator .calc-wrap {
  width: auto;
  max-width: 227px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10rem;
  border: 1px #cccccc solid;
  padding: 2.5rem;
  border-radius: 2px;
}
.calculator .number {
  width: 60px;
  height: 40px;
  margin: 0.4rem;
  background-color: #dedddd;
}
.calculator .operation {
  width: 40px;
  height: 40px;
  margin: 0.4rem;
  background-color: #7aa8fc;
  border: 1px solid #4687ff;
}
.calculator .operations-display {
  text-align: right;
  width: 192px;
  font-size: 2rem;
  padding: 0.5rem;
  border: 1px #cccccc solid;
  border-radius: 2px;
  margin: 0.4rem;
}
.calculator .decimal,
.calculator .reset {
  width: 60px;
  height: 40px;
  margin: 0.4rem;
  background-color: #7aa8fc;
  border: 1px solid #4687ff;
}
.calculator .equal {
  width: 213px;
  height: 40px;
  margin: 0.4rem;
}
