.main-menu {
  padding-bottom: 50px;
}
.main-menu .dropdown-block {
  position: relative;
}
.main-menu .dropdown-block .dropdown-main-menu {
  position: absolute;
  margin-top: 5px;
  cursor: pointer;
  margin-left: 10px;
  border: none;
  z-index: 1;
  background: #ccc;
}
.main-menu .dropdown:hover {
  display: block;
  margin-top: 0;
  transition: 1ms;
}
.main-menu .dropdown:hover .dropdown-menu {
  display: block;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.6);
}
.main-menu .dropdown:hover .dropdown-menu .dropdown-item {
  padding-bottom: 5px;
}
.main-menu .dropdown:hover .dropdown-menu .dropdown-item:active {
  background-color: #524444;
}
.main-menu li {
  font-size: 20px;
  padding-right: 80px;
}
.main-menu li a {
  cursor: pointer;
}
