<nav class="navbar navbar-expand-lg navbar-light main-menu">
  <div class="dropdown-block visible-sm hidden-md">
  <button class="navbar-toggler" type="button" id="main" (mouseover)="shownMain = !shownMain" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="dropdown-main-menu visible-sm hidden-md" (mouseleave)="shownMain = !shownMain" *ngIf="shownMain">
    <a class="dropdown-item" routerLink="/">Home</a>
    <a class="dropdown-item" routerLink="/about">About</a>
    <a class="dropdown-item" (mouseenter)="shownAdd = !shownAdd" routerLink="/products" routerLinkActive="active" id="navbarLink" role="button" data-toggle="dropdown" aria-expanded="false">Projects<i class="fa fa-caret-right d-inline mt-1 pl-2"></i></a>    
    <div class="sub-menu" *ngIf="shownAdd">
          <a class="dropdown-item" routerLink="/products/slider">slider</a>
          <a class="dropdown-item" routerLink="/products/calc">calculator</a>
          <a class="dropdown-item" routerLink="/products/todo">to-do list</a>
        </div>
    <a class="dropdown-item" routerLink="/contacts">Contacts</a>
  </div>
</div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/products" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Projects</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/products/slider">slider</a>
          <a class="dropdown-item" routerLink="/products/calc">calculator</a>
          <a class="dropdown-item" routerLink="/products/todo">to-do list</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacts" routerLinkActive="active">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
    <router-outlet> </router-outlet>
    <!-- <router-outlet name="slider"></router-outlet> -->
   