.main-menu {
    padding-bottom: 50px;
    .dropdown{
        // .dropdown-menu{
        //     display: block;
        //     margin-top: 0;
        // }
        &:hover {
            display: block;
            margin-top: 0;
            .dropdown-menu {
                display: block;
                margin-top: 0;
            }
        }
    }
    li {
        font-size: 20px;
        padding-right: 80px;
    
        a {
            cursor: pointer;
        }
    }
}