.main-menu {
    padding-bottom: 50px;
    .dropdown{
        
        &:hover {
            display: block;
            margin-top: 0;
            transition: 1ms;
            .dropdown-menu {
                display: block;
                margin-top: 0;
                background-color: rgba(238, 227, 227, 0.9);
            }
        }
    }
    li {
        font-size: 20px;
        padding-right: 80px;
    
        a {
            cursor: pointer;
        }
    }
}