.products {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.products .products__el {
  padding: 20px;
}
.products .products__el:hover {
  background-color: rgba(87, 68, 68, 0.1);
}
.products .products__el .products__el-link {
  text-transform: uppercase;
}
