.todo-form {
  display: flex;
  flex-wrap: wrap;
}
.todo-form input {
  width: 80%;
  margin-right: 15px;
}
.todo-form button {
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 90px;
}
.todo-form .waiting-image {
  width: 35px;
  height: 35px;
}
