.todo-form {
  display: flex;
  flex-wrap: wrap;
}
.todo-form input {
  margin-right: 15px;
  margin-bottom: 12px;
}
.todo-form button {
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 90px;
  height: 37px;
}
.todo-form .waiting-image {
  width: 35px;
  height: 35px;
}
